.enterprise-level-printing-page {
  .text-effect-hero {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (width <= 768px) {
  .text-effect-hero p {
    padding-inline: 0.5rem;
  }
  
  .hardware-infrastructure-page .text-effect-hero h1,
  .it-consulting-page .text-effect-hero h1
   {
    font-size: 2.5rem;
  }

  .bpo-page .text-effect-hero h1,
  .risk-compliance-page .text-effect-hero h1
   {
    font-size: 2.75rem;
  }

  .enterprise-level-printing-page .text-effect-hero h1,
  .quality-assurance-page .text-effect-hero h1,
  .telemarketing-page .text-effect-hero h1,
  .customer-support-page .text-effect-hero h1
   {
    font-size: 3rem;
  }

  .system-platform-page .text-effect-hero h1 {
    font-size: 2.5rem;
  }

  .sim-registration-page .text-effect-hero {    
    h1 {
      font-size: 2.3rem;
    }

    p {
      padding-inline: 1rem !important;
    }
  }
}