@media (width <= 768px) {
    .sub-tabs-container {
        display: inline-flex;
        flex-direction: column;
        gap: 1rem;
        height: 5rem;
        overflow: auto;

        button {
            width: max-content;
        }
    }
}