.skylift-solutions-section {
  background-color: linear-gradient(17deg, #756036, #87703f, #87703f);
  // background-color: white;
  // background-color: var(--secondary);
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.box {
  // border-radius: 50%;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
