.home-products-category-container {
  * {
    scroll-behavior: smooth !important;

    .product-container {
      overflow: visible;
      position: relative;
      img {
        z-index: 5;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .product-container:hover {
    img {
      transform: scale(1.25);
    }
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.home-products-category-container {
  .tab-select {
    button {
      border: 1px solid var(--primary);
      border-bottom: 4px solid var(--primary);
      background: white;
      border-radius: 10px;
      width: fit-content;
      cursor: pointer;
      padding-inline: 1rem;
      font-size: 0.875rem;
    }

    .active {
      background: var(--primary);
      border-radius: 10px;
      border-color: black;
      color: white;
    }
  }

  .product-container {
    box-shadow: 0 5px 10px 3px #1f293733;
  }
  // Card template
  $background: #f0f0f0;
  $white: #fff;
  $black: #000;
  $grey: #666;
  $accent: #807045;

  $font-bold: 700;

  $time: 0.3s;
  $easing: cubic-bezier(0.4, 0, 0.2, 1);

  @mixin shadow {
    box-shadow: 0 30px 25px -20px rgba($black, 0.15);
  }

  @mixin shadow-dark {
    box-shadow: 0 36px 28px -20px rgba($black, 0.2);
  }

  %caps {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: $font-bold;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  hr {
    border: 0;
    height: 3px;
    width: 30px;
    background-color: $accent;
    margin: 22px 0 20px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    margin: 0 0 1.5em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    display: inline-block;
    color: $white;
    text-align: center;
    padding: 1.75em 3.5em;
    white-space: nowrap;
    border-radius: 5px;
    @extend %caps;
  }

  .product {
    position: relative;
    width: 20%;
    padding: 1rem;
    border-radius: 4px;
    background-color: $white;
    transition: box-shadow $time $easing;
    @include shadow;
    margin-top: 3rem;
  }

  .product__image {
    width: auto;
    height: 10rem;
    margin: auto;
    margin-top: -5px;
    margin-bottom: 30px;
    max-width: none;
  }

  .product__title {
    font-size: 30px;
    color: $black;
    margin: 0 0 0.5em 0;
    line-height: 1.1;
  }

  .product__price {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -30px;
    left: -30px;
    width: 100px;
    height: 100px;
    background-color: #807045f2;
    color: $white;
    border-radius: 50%;
    @extend %caps;
  }

  .product__category {
    display: block;
    color: $accent;
    margin-bottom: 1em;
    @extend %caps;
  }

  .product__btn {
    position: absolute;
    bottom: -30px;
    right: 30px;
    background-color: rgba($accent, 0.95);
    transition: background-color $time $easing, box-shadow $time $easing;
    @include shadow;

    &:hover {
      @include shadow-dark;
      background-color: mix($accent, $black, 95%);
    }
  }
}
