.our-expertise {
  // background: linear-gradient(white, #f1eee6);
  .expertise-card-container {
    display: flex;
    flex-wrap: wrap;

    .expertise-card {
      background: white;
      border-radius: 10px;
      padding: 1rem;
      width: 19rem;
      color: #675630;
      box-shadow: -1px 10px 10px rgba(0, 0, 0, 0.4);
    }
  }  

  .expertise-img-container {
    box-shadow: -10px 40px 50px black;
  }

  background: radial-gradient(#a78d55, #87703f, #87703f, #68542c);
}