.our-expertise {
  // background: linear-gradient(white, #f1eee6);
  .expertise-card-container {
    display: flex;
    flex-wrap: wrap;

    .expertise-card {
      border-radius: 10px;
      width: 45%;
      height: fit-content;
      color: #675630;
    }
  }  

  .expertise-img-container {
    box-shadow: -10px 40px 50px black;
  }

  background: radial-gradient(#a78d55, #87703f, #87703f, #68542c);
}