@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.products-main-section {
  // background-color: #d1c29b;
  background: beige;
  padding-top: 5.5rem;
  display: flex;
  align-items: flex-start;
  overflow: visible;
  width: 100vw;

  .side-grid,
  .side-grid > div,
  .main-grid > div,
  .featured-section {
    border-radius: 20px;
  }

  .main-grid {
    min-height: 100vh;
    flex: 7;
  }

  .side-grid {
    position: sticky;
    height: 100%;
    top: 5.5rem;
    align-self: flex-start;
    overflow-y: auto;
    height: 85vh;
  }
  
  .scroll-container::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 10px;
    opacity: 1 !important;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }

  .scroll-container::-webkit-scrollbar-thumb:hover  {
    background-color: #4b4124;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #6054325e;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .scroll-container {
    scrollbar-color: auto !important;
  }
}
