nav {
  color: white;

  .container {
    padding-inline: 2.5rem;
    justify-content: center;
    transition: all 0.25s ease-in;
    transition: color 0.1s ease-in !important;

    ul {
      margin-right: 4rem;
    }
  }

  // .active-link:hover {cursor: default !important;}

  .mega-menu {
    display: flex;
    justify-content: space-evenly;
    background: white;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 2rem 1.75rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    width: 85vw;
    max-width: 90vw;
    // margin-top: 1.25rem;  
    margin-left: 5vw;
    color: var(--shreeji-primary);

    a {
      cursor: pointer !important;
    }
    a:hover {
      color: #473e26;
      border-left: none ;
      padding-left: 0;
    }
  }

  .mega-menu-active-link {
    // color: #473e26 !important;
    border-left: 3px solid #87703f;
    padding-left: 0.5rem;
  }

  .mega-menu-active-link:hover {
    color: #87703f !important;
    border-bottom: none !important;
    border-left: 3px solid #87703f !important;
    padding-left: 0.5rem !important;
  }

  .flex-mega-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80vh;
    width: max-content;
    // padding: 1.5rem 2rem;
  }

  .flex-mega-menu  > div {
    max-width: 15rem;
    width: fit-content;
  }
}
.nav-logo {
  height: 4rem;
  transition:  none !important;
  opacity: 0;
}

.scrolled-nav {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  .nav-logo {
    height: 3rem;
  }

  .active-link {   
    border-bottom: 2px solid #87703f;
  }
  
  ul {
    padding: 0;
    background: none;
    margin-right: 0;
  }

  .container {
    padding-inline: 5rem !important;
    justify-content: space-between;

    @media (width <= 768px) {
      padding-inline: 2rem !important;
    }
  }
}

.active-link {
  font-weight: 500;
  border-bottom: 2px solid white;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #807045;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #87703f;
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

/* From Uiverse.io by JaydipPrajapati1910 */
.theme {
  --bg-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--bg-color);
  border-radius: 100%;
  border: 2px solid var(--shreeji-primary);
  box-shadow: 4px 4px var(--shreeji-primary);
}

.input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.icon {
  position: absolute;
  top: calc(57% - 13px);
  left: calc(57% - 13px);
  width: 23px;
  height: 22px;
}

.icon.icon-moon {
  fill: var(--shreeji-primary);
}

.icon.icon-sun {
  stroke: var(--shreeji-primary);
  display: none;
}

.input:checked ~ .icon.icon-sun {
  display: block;
}

.input:checked ~ .icon.icon-moon {
  display: none;
}

.theme:active {
  box-shadow: 0px 0px var(--shreeji-primary);
  transform: translate(3px, 3px);
}

.light-theme {
  .scrolled-nav {
    background: white;

    .logo-dark {
      opacity: 0;
    }
  
    .logo-light {
      opacity: 1;
    }

    .active-link:hover {
      color: #87703f !important;
    } 
  }

  header {
    li a {
      transition: all ease-in-out 0.12s;
    }
    li a:hover {
      border-bottom: 2px solid currentColor;
    }

    .active-link:hover {
      color: white;
    } 
  }
}

.dark-theme {
  .scrolled-nav {
    background: #121212;

    .logo-dark {
      opacity: 1;
    }
  
    .logo-light {
      opacity: 0;
    }
    a {
      color: #b59b65;
    } 

    a:hover {
      color: whitesmoke;
    }   
    
    .active-link:hover {
      color: #b59b65 !important;
    } 
  }   
}

@media (width <= 768px) {
  #navbar-links {
    overflow: auto;
    transition: all 0.3s ease-in-out;
    color: white;
    position: fixed;
    top: 0;
    border-radius: 0;
    flex-direction: column;
    gap: 2rem;
    background: #807045;
    width: 100vw;
    height: 100vh;
    padding: 10vh 1rem;
    font-size: x-large;

    li {
      margin: 0;
      padding-inline: 1rem;
    }

    .mega-menu-container {
      position: relative;
    }

    .mega-menu {
      flex-direction: column;      
    }

    .group {
      display: none !important;
    }
    
    .collapse {
      min-height: fit-content;
      padding-inline: 0;
    }

    .collapse-content {
      background: #473e26;
      border-radius: 10px;
      font-size: medium;      
      display: flex;
      flex-direction: column;
      padding-inline: 1rem !important;
      // gap: 1.5rem;
    }

    div:first-child h4{
      padding-top: 2rem;
    }

    div:last-child ul {
      padding-bottom: 1.5rem;
    }
  }
}
.mobile-menu-closed {
  left: 200%;
}

.mobile-menu-open {
  left: 0 !important;
}