.scrollContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  // background-color: var(--secondary);
  // background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  // height: 100vh;
  height: fit-content;
  padding-block: 4rem;
}

.scrollContent {
  display: flex;
  // animation: scroll 15s linear infinite;
}

.partnerItem {
  flex-shrink: 0;
}

.partner-logo {
  height: 100%;
  width: 10rem; /* Match the width of the container */
  object-fit: contain;
}

.fadeLeft,
.fadeRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px; /* Adjust fade width */
  z-index: 1;
  pointer-events: none;
}

.fadeLeft {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.fadeRight {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.light-theme {
  .scrollContainer {
    background: var(--light-primary);
    color: var(--shreeji-primary);

    .partner-logo-container {
      background: var(--light-secondary);
    }
  } 
}

.dark-theme {
  .scrollContainer {
    background: var(--shreeji-primary);
    color: var(--light-primary);

    .partner-logo-container {
      background: var(--light-primary);
    }
  }    
}


.logo-row {
  position: relative;
  width: 100%;
}

.logo-track {
  display: inline-block;
  white-space: nowrap;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-leftToRight {
  animation: leftToRight 50s linear infinite;
}

.animate-rightToLeft {
  animation: rightToLeft 50s linear infinite;
}
