.request-quote {
  .active-image-select {
    border: 3px solid rgba(255, 255, 255, 0.8) !important;
  }

  .product-details-image {
    width: 100%;
  }
}

.quote-image-bg {
  background: radial-gradient(#a78d55, #87703f, #87703f, #68542c);
}

.submited-container {
  background-image: url('https://www.transparenttextures.com/patterns/shattered.png');
}