.product-details-page {
  h1,
  h2,
  h3 {
    font-family: "Poppins", Helvetica, sans-serif !important;
  }
  .text-9xl {
    font-size: 5rem;
  }
  // background: radial-gradient(whitesmoke, rgb(255 255 255 / 50%),  rgb(0 0 0 / 10%), rgb(0 0 0 / 30%)) !important;
  background: radial-gradient(whitesmoke, rgb(255 255 255 / 50%),  beige, rgb(225, 219, 195)) !important;

  .main-grid {
    min-height: auto !important;
  }

  .product-specs > * {
    margin-left: 2rem;

    @media (width <= 768px) {
      margin-left: 0;
    }
  }

  .product-details .scroll-container {
    max-height: 70vh; 
    overflow: auto;

    @media (width <= 768px) {
      max-height: fit-content; 
    }
  }

  .product-details .scroll-container:hover::-webkit-scrollbar-thumb  {
    background-color: #4b4124;
  }
}