.product-details-page {
  h1,
  h2,
  h3 {
    font-family: "Poppins", Helvetica, sans-serif !important;
  }
  .text-9xl {
    font-size: 5rem;
  }
  background: radial-gradient(whitesmoke, rgb(255 255 255 / 50%),  rgb(0 0 0 / 10%), rgb(0 0 0 / 30%)) !important;
  // background: radial-gradient(whitesmoke, rgb(255 255 255 / 50%),  beige, rgb(225, 219, 195)) !important;

  .main-grid {
    min-height: auto !important;
  }

  .product-specs > * {
    margin-left: 2rem;

    @media (width <= 768px) {
      margin-left: 0;
    }
  }

  .product-details .scroll-container {
    max-height: 65vh; 
    min-height: 60vh; 
    overflow: auto;
    padding-block: 1.25rem;

    @media (width <= 768px) {
      max-height: fit-content; 
      min-height: fit-content; 
    }
  }

  .product-details .scroll-container:hover::-webkit-scrollbar-thumb  {
    background-color: #4b4124;
  }

  .fadeUp,
  .fadeDown {
    position: absolute;
    width: 100px;
    z-index: 1;
    pointer-events: none;
    left: 0;
    width: 20%;

    @media (width <= 768px) {
      display: none;
    }
  }

  .fadeUp {    
    // top: calc(100% + 2rem);
    top: 0;
    background: linear-gradient(to bottom, #f8f8e7, rgba(255, 255, 255, 0));
    height: 2rem;
    width: 20%;
  }

  .fadeUp1 {    
    // top: calc(100% + 2rem);
    left: 0;
    background: linear-gradient(to bottom, #fbfbfb, rgba(255, 255, 255, 0));    
  }
  
  .fadeUp2 {    
    // top: calc(100% + 2rem);
    left: 20%;
    background: linear-gradient(to bottom, #fcfcfc, rgba(255, 255, 255, 0));      
  }

  .fadeUp3 {    
    left: 40%;
    background: linear-gradient(to bottom, #fdfdf6, rgba(255, 255, 255, 0));    
  }

  .fadeUp4 {    
    left: 60%;
    background: linear-gradient(to bottom, #fafaf0, rgba(255, 255, 255, 0));    
  }

  .fadeUp5 {    
    left: 80%;
    background: linear-gradient(to bottom, #f8f8e7, rgba(255, 255, 255, 0));   
    width: calc(20% - 6px); 
  }

  .fadeDown {
    bottom: 0;
    height: 2rem;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  }

  .fadeDown1 {    
    // top: calc(100% + 2rem);
    left: 0;
    background: linear-gradient(to top, #f8f8e7, rgba(255, 255, 255, 0));    
  }
  
  .fadeDown2 {    
    // top: calc(100% + 2rem);
    left: 20%;
    background: linear-gradient(to top, #f8f8e7, rgba(255, 255, 255, 0));      
  }

  .fadeDown3 {    
    left: 40%;
    background: linear-gradient(to top, #f7f7e4, rgba(255, 255, 255, 0));    
  }

  .fadeDown4 {    
    left: 60%;
    background: linear-gradient(to top, #f3f3da, rgba(255, 255, 255, 0));    
  }

  .fadeDown5 {    
    left: 80%;
    background: linear-gradient(to top, #f0efd6, rgba(255, 255, 255, 0));   
    width: calc(20% - 6px); 
  }
}