.product-details-page {
  .text-9xl {
    font-size: 5rem;
  }
  background: radial-gradient(whitesmoke, rgb(255 255 255 / 50%),  rgb(0 0 0 / 10%), rgb(0 0 0 / 30%)) !important;

  .main-grid {
    min-height: auto !important;
  }

  .product-specs > * {
    margin-left: 2rem;
  }

  .product-details .scroll-container {
    max-height: 70vh; 
    overflow: auto;
  }

  .product-details .scroll-container:hover::-webkit-scrollbar-thumb  {
    background-color: #4b4124;
  }
}