// .logos-slide {
//   animation: 20s scroll infinite linear;
//   transition: all ease-in-out 0.2s;
// }

// @keyframes scroll {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(-100%);
//   }
// }

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.our-story {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: fit-content;
  padding-block: 4rem; 
  padding-top: 0 !important;

  .stat-container {
    p {
      padding: 2rem;
      background: radial-gradient( #87703f, #736437);
      border-radius: 10px;
      min-height: 8rem;
      box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.5);
    }

    p span:first-child {
      font-weight: bold;
      font-size: 2.5rem;
      padding-right: 0.5rem;
      color: white;
    }

    p span:last-child {
      font-size: 1rem;
      line-height: 20px;
    }

    p:first-child {
      margin-top: 4rem;  
    }

    p:last-child {
      margin-bottom: 2rem;  
    }
  }

  .side-grid-container {
    position: sticky;
    height: 100%;
    top: -2rem;      
  }

  .side-grid {        
    align-self: flex-start;
    overflow-y: auto;
    height: 95vh;
  }

  // .side-grid-container::before {
  //   content: '';
  //   position: absolute;
  //   width: calc(100% - 6px);
  //   height: 3rem;
  //   background: linear-gradient(rgba(255, 255, 255, 0.4), transparent, transparent);
  //   z-index: 2;
  //   top: 4rem;
  //   left: 0;
  // }

  // .side-grid-container::after {
  //   content: '';
  //   position: absolute;
  //   width: calc(100% - 1.3rem);
  //   height: 4rem;
  //   background: linear-gradient(transparent, transparent, #eaeae9);
  //   z-index: 2;
  //   bottom: 0rem;
  //   left: 0;
  // }

  .side-grid > p {
    background: radial-gradient( #87703f, #736437);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .scroll-container::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
    height: 10px;
    opacity: 1 !important;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }

  // .scroll-container::-webkit-scrollbar-thumb:hover  {
  //   background-color: #;
  // }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .scroll-container {
    scrollbar-color: auto !important;
  }

  .scroll-container:hover::-webkit-scrollbar-thumb  {
    background-color: transparent;
  }
}
