.our-story {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: fit-content;
  padding-block: 4rem; 
  padding-top: 0 !important;

  .stat-container {
    p {
      padding: 2rem;
      background: radial-gradient( #87703f, #736437);
      border-radius: 10px;
      box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.5);

      @media (width <= 768px) {
        padding: 0.5rem;
        min-height: auto;
      }
    }

    p span:first-child {
      font-weight: bold;
      font-size: 2.5rem;
      padding-right: 0.5rem;
      color: white;
    }

    p span:last-child {
      font-size: 1rem;
      line-height: 20px;
    }

    p:first-child {
      margin-top: 4rem;  
      @media (width <= 768px) {
        margin-top: 0;
      }
    }

    p:last-child {
      margin-bottom: 2rem;  
      @media (width <= 768px) {
        margin-bottom: 0;
      }
    }
  }

  .side-grid-container {
    position: sticky;
    height: 100%;
    top: -2rem;      
  }

  .side-grid {        
    align-self: flex-start;
    overflow-y: auto;
    height: 95vh;

    @media (width <= 768px) {
      height: 10rem;
      width: 100vw;
      padding-block: 1rem;
    }
  }

  .side-grid > p {
    background: radial-gradient( #87703f, #736437);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .scroll-container::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
    height: 10px;
    opacity: 1 !important;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }

  // .scroll-container::-webkit-scrollbar-thumb:hover  {
  //   background-color: #;
  // }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .scroll-container {
    scrollbar-color: auto !important;
  }

  .scroll-container:hover::-webkit-scrollbar-thumb  {
    background-color: transparent;
  }
}
