.our-team {
  width: 100%;
  background: radial-gradient(#a78d55, #87703f, #87703f, #68542c);

  .team-member {
    border-radius: 10px;
    height: 15rem;
    width: 12rem;
    background: white;

    @media (width <= 768px) {
      width: 10rem;
    }
  }
}