.discounted-product-container {
  // background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");

  * {
    scroll-behavior: smooth !important;

    .product-container {
      overflow: visible;
      position: relative;
      img {
        z-index: 5;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .product-container::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background-image: url("https://www.transparenttextures.com/patterns/vichy.png");
  }

  .product-container:hover::before {
    width: 6rem;
    height: 6rem;
    top: 5%;
    left: -5%;
  }

  .product-container:hover {
    img {
      transform: scale(1.25);
    }
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
