.discounted-product-container {
  // background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  // background-color: var(--primary);
  * {
    scroll-behavior: smooth !important;

    .product-container {
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      width: 50rem;
      img {
        z-index: 5;
        transition: all 0.3s ease-in-out;
      }
    }
  }


  .discounted-card-bg-2 {
    background: white;
    box-shadow: 0 0 15px 5px black;
  }

  .products-page-product:before {
    background: #807045 !important;
  }

  * ::-webkit-scrollbar {
    display: none !important;
  }

  button {
    background: #807045 !important;
    width: 4rem;
    height: 4rem;
    color: white !important;

    @media (width <= 768px) {
      width: 3rem;
      height: 3rem;
    }
  }

  button:last-child {
    margin-right: 5rem;

    @media (width <= 768px) {
      margin-right: 0;
    }
  }

  @media (width <= 768px) {
    .controls {
      display: none;
      gap: 1rem;
    }

    a:first-child {
      margin-left: 6rem;
    }
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.discounted-product-container > div {
  border-radius: 20px;
  background: none !important;

  h2 {
    // color: #655832 !important;
    font-size: 3.5rem !important;
    text-shadow: none !important;    

    @media (width <= 768px) {
      font-size: 3rem !important;
      font-weight: bolder;
      padding-inline: 0;
      text-align: center;
    }
  }
}

