.discounted-product-container {
  // background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  // background-color: var(--primary);
  * {
    scroll-behavior: smooth !important;

    .product-container {
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      width: 50rem;
      img {
        z-index: 5;
        transition: all 0.3s ease-in-out;
      }
    }
  }


  .discounted-card-bg-2 {
    background: white;
    box-shadow: 0 0 15px 5px black;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
