.our-solutions-section {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;

  .service-hover {
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .service-hover:hover {
    background: var(--primary);
    color: white;
    position: relative;
    box-shadow: -10px 10px 15px 5px gray;
    z-index: 20;
  }

  .service-hover-3:hover,
  .service-hover-4:hover {
    box-shadow: 10px 10px 15px 5px gray;
  }

  .solution-card-img-container {
    background: var(--light-secondary);
  }
}
